{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Мой сайт Веб 2.0</h1>
    <p class="lead">В будущем очень полезный сайт.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Поехали</h2>
        <p>
            Куча крутого и пафосного текста про Веб 2.0
            Куча крутого и пафосного текста про сайт.
            Куча крутого и пафосного текста про что-нибудь.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Дополнительно</h2>
        <p>Что-то про Питон.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Реклама</h2>
        <p>Облака Майкрософт самые белые и пушистые на сегодняшний день.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
